<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PROFILES PAGE</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <!-- NAVBAR -->
    <nav class="navbar">
            <!--- FUTURE LOGO --->
            <logo><h1 href="/dbases">daterBase</h1></logo>

            <!--- LOGIN --------->
            <login class="login">
            <% if (user) { %>
                <a href="/logout">Log Out</a>
            <% } else { %>
                <a href="/auth/google">Login</a>
            <% } %>
            </login>
    </nav>