<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PROFILES PAGE</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<!-- NAVBAR -->
<nav class="navbar">
    <a href="/dbases"> <image src="https://i.imgur.com/HfNrKNn.png" alt="PIC" border="0" width="100" height="100"> </a>

    <% if (user) { %>
        <a href="/dbases/<%= user._id %>">MyProfile</a>

        <a href="/dbases/<%= user._id %>/edit">Comments</a>
    <% } %>
    
    
    <login class="login">
        <% if (user) { %>
            <a href="/logout">LOGOUT</a>
        <% } else { %>
            <a href="/auth/google">LOGIN</a>
        <% } %>
    </login>    
</nav>