<!DOCTYPE html>
<html>
  <head>
    <title>WELCOME PAGE</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>daterBase</h1>
    <p>"daterBase: the best kind of base"-Sun Tzu, 10,000BC</p>
    <a href="/dbases">ENTER</a>
  </body>
</html>
