<!DOCTYPE html>
<html>
  <head>
    <title>START PAGE</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <br><br><br><br><br><br><br>
    <a href="/blanks"> START </a>
  </body>
</html>
