<!DOCTYPE html>
<html>
  <head>
    <title>WELCOME PAGE</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>BLANK</h1>
    <p>Welcome to the intro page!</p>
    <a href="/blanks">ENTER</a>
  </body>
</html>
