<!DOCTYPE html>
<html>
  <head>
    <title>PROFILES PAGE</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>


  <body>
    <a href="/">BACK</a>

    <h4>All Flights</h4>


    <table class="table table-striped table-hover table-light">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Age</th>
          <th scope="col">Intro</th>
        </tr>
      </thead>


      <tbody>
        <% blanks.forEach(function(b){ %>
          <td><%= b.name %></td>
          <td><%= b.age %></td>
          <td><%= b.intro %></td>
          <td> <a href="/blanks/<%= b._id %>"> MORE </a> </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </body>
</html>
