.body{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.card {
    font-size: 20px;
    font-weight: bolder;
    border-radius: 30px;
}
.nav {
    font-size: 20px;
    background-color: black;
}
.nav-item:hover {
    background-color: white;
}
.footer {
    background-color: rgb(102, 147, 230);
    padding: 20px; 
    bottom: -50px;
    left: 0;
    right: 0;
    position: absolute;
}