<%- include('../partials/header') %>

<div>
    <h1>INDEX PAGE</h1>

    <% users.forEach(function(d) { %> 
        <div class="profile">
            <a href= "dbases/<%= d._id %>" > <%= d.name  %> </a>
        </div>
    <% }); %>
</div>

<%- include('../partials/footer') %>