<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PROFILES PAGE</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

    <!-- NAVBAR -->
    <nav class="navbar">
            <!--- FUTURE LOGO --->
            <logo><a href="/dbases">LOGO</a></logo>

            <!--- LOGIN --------->
            <login class="login">
            <% if (user) { %>
                <a href="/logout">Log Out</a>
            <% } else { %>
                <a href="/auth/google">Login</a>
            <% } %>
            </login>
    </nav>




    <!-- USER PROFILES -->
    <div>
        <% indexVar.forEach(function(d) { %> 
            <div>
                <!--- USERNAME--->
                <div class="profile">
                    <span><%= d.name %></span>
               

                    
                <!--- TEXT --->
                <ul>
                    <% d.aboutme.forEach(function(b) { %>
                        <li><%- b.text %></li>
                    <% }) %>
                </ul>  


                
                <!--- INPUT/SUBMIT--->
                <% if (d._id.equals(user && user._id)) { %>
            
                    <form action="/aboutme" method="POST">
                        <input placeholder="Links here" type="text" name="text">
                        <button type="submit">SUBMIT</button>
                    </form>
                </div>
                <% } %>    




            </div>
        <% }); %>
    </div>



    
</body>
</html>