
   
<%- include('../partials/header') %>
   
<!-- USER PROFILES -->
<div>
    <% indexVar.forEach(function(d) { %> 
        <div>
            <!--- USERNAME--->
            <div class="profile">
                <span><%= d.name %></span>

                
            <!--- TEXT --->
            <ul>
                <% d.aboutme.forEach(function(b) { %>
                    <li><%- b.text %></li>
                <% }) %>
            </ul>  


            <!--- INPUT/SUBMIT--->
            <% if (d._id.equals(user && user._id)) { %>
                <form action="/aboutme" method="POST">
                    <label>My Code Projects: </label>
                    <br>
                    <input placeholder="Links here..." type="text" name="text">
                    <button type="submit">ADD</button>
                </form>
            </div>
            <% } %>    
        </div>
    <% }); %>
</div>


<%- include('../partials/footer') %>