<%- include('../partials/header') %>



 <h1>Home</h1>


<% users.forEach(function(d) { %> 
<div class="card" style="width: 18rem;">
    <a class="card-body" href= "dbases/<%= d._id %>" >
        <h2><%= d.name  %> </h2>
    </a>
<% }); %>
</a>



<%- include('../partials/footer') %>